@import url("menu.css");
@import url("footer.css");
@import url("especialidades.css");
@import url("faq.css");
@import url("servicios.css");
@import url("contacto.css");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif; */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
	font-family: 'Lato', sans-serif;
}

body {
    width: 98%;
    margin: auto;
	background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(150,150,150,1) 100%);
}

.contenedor {
    display: grid;
    /* Uso un atajo para definir dos filas / tres columnas */
    grid-template-columns: 20% auto 20%; 
	grid-template-rows: auto auto;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas:  
                        "izq contenido der" 
                        "pie pie pie";

    /* separamos los items con gap */
    gap: 1.5rem;

    justify-content: center;
    align-content: start;

    margin-top: 110px;
	min-width: 0px;
	min-height: 0px;
}

.izq {
    grid-area: izq;
	display: flex;
	flex-direction: column;
}



.der{
    grid-area: der;
}

.contenido {
    grid-area: contenido;
    text-align: justify;
}

.contenido article {
    padding-bottom: 25px;
}

.contenido p {
	padding: 10px 0px 10px 0px;
}

.pie {
    grid-area: pie;
    color: white;
}

.item {
    padding: 5%;
    color: #333;
    background-color: rgba(255,255,255,0.3);
	border-radius: 1rem;
}

/* Texto destacado, titulos y parrafos */
.destacado {
	font-size: 1.5rem;
	font-family: 'Cinzel', serif;
	text-align: left;
}

.foto {
	display: block;
	margin:auto;
	text-align: center;
	width: 90%;
}

.piefoto {
	text-align: center;
}
/*----------------------------------------------------------------*/
/* Inicio Configuración para el banner                                   */
/*----------------------------------------------------------------*/

* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(255,255,255,0.5);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
	color: #000000;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}


/*----------------------------------------------------------------*/
/* Fin Configuración para el banner                                   */
/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .contenedor { 
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: auto auto auto / 30% auto; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "izq contenido" "der der" "pie pie";

		
    }

	.especialidades {
		display: flex;
		flex-wrap: wrap;
		gap: 1%;
		justify-content: center;
		row-gap: 1em;
	}

	.item-esp {
		width: 98%;

	}

}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .contenedor {
        /* Uso un atajo para definir 4 filas / 1 columna */
        grid-template: auto auto auto auto / 100%; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "izq" "contenido" "der" "pie";

		
    }

	.especialidades {
		display: flex;
		flex-wrap: wrap;
		gap: 1%;
		justify-content: center;
		row-gap: 1em;
	}

	.item-esp {
		width: 98%;

	}

	.tarjeta.frente img {
		width: 55%;
		padding-top: 1rem;
	}
	
}

