/* Barra de navegacion */

.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.9);
    justify-content:space-between;
    align-content:stretch;
	margin:auto;
    position:fixed;
	z-index:1000;
	top:0;
	left: 0;
    width: 100%;
    height: 100px;
}

.logositio{
	order: 1;
}

.logo {
    width: 5rem;
    margin: 1rem 1rem;
	
}

#menu-bar {
	display: none;
}

header label {
	cursor: pointer;
}

.logomenu {
	order: 3;
	font-size: 3rem;
	margin: 1.5rem 1rem;
	color: #AAA;
}

.menu {
	order: 2;
	display: flex;
	position: absolute;
	margin:auto;
    text-align: center;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(255, 255, 255, 0.9);
	transition: all 0.5s;
	transform: translateX(-100%);
	flex-wrap: wrap;
}

nav {
	width: 100%;
}

.menu ul {
	list-style: none;
	width: 100%;
	
}

.menu li {
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	float: left;
    padding: 5px;
    margin-top: 1rem;
}

.menu ul li a {
	display: block;
	padding:10px;
	color:#333;
	text-decoration: none;
}

.menu li a:hover {
	background: lightblue;
}

#menu-bar:checked ~ .menu {
	transform: translateX(0%);
}

/* menu lateral izquierda */
.botonlateral {
	padding: 1.5rem;
	background-color: rgba(0,0,255,0.5);
	text-align: center;
	border-radius: 0.5rem;
	margin: 0.5rem;
	color: white;
	text-decoration: none;
}

.botonlateral:hover {
	background-color: rgba(0,0,255,0.3);
}

.botonlateral i {
	padding: 1rem;
	margin: 0.7rem;
	font-size: 3rem;
}

.botonlateral a:link {
	color: white;
}

.botonlateral a:visited {
	color: white;
}


@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
		flex-grow: 5;
		display: inline;
    }

	.menu li {
		float: none;
		
	}

	.logositio {
		order: 1;
	}

	.logomenu {
		order: 2;
	}

	.menu {
		order: 3;
	}

	.izq {
		flex-direction: row;
		flex-wrap: wrap;
	}

}



@media (min-width:1024px) {
	
	.menu {
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
	}
	
	.menu li {
		border: none;
	}
	
	header label {
		display: none;
	}
	
	.botonlateral i {
		padding: 0;
		margin: 0.5rem;
		font-size: 2rem;
	}
	
}