.servicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
}

.servicio-item i {
    display: inline-flex;
    font-size: 3rem;
    padding: 1.5rem;
}

.servicio-item {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    
}

.servicio-item-detalle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}